data/*
!data/get_data.sh
!data/tiny-imagenet-transformed
data/tiny-imagenet-transformed/*
!data/tiny-imagenet-transformed/train
data/tiny-imagenet-transformed/train/*
!data/tiny-imagenet-transformed/train/README.txt
checkpoints/
logs/
*.pt
__pycache__/
*.DS_Store
experiment.sh
conda_requirements.txt
