conda_requirements.txt
data/*
!data/get_data.sh
!data/tiny-imagenet-transformed
data/tiny-imagenet-transformed/*
!data/tiny-imagenet-transformed/train
data/tiny-imagenet-transformed/train/*
!data/tiny-imagenet-transformed/train/README.txt
plots/*
!plots/README.txt
checkpoints/
logs/
*.pt
!ensemble/*
__pycache__/
*.DS_Store
